{% load static %}
<header id="header" class="header fixed-top">

  <div class="topbar d-flex align-items-center dark-background">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:{{ CLINIC_EMAIL }}">{{ CLINIC_EMAIL }}</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>{{ CLINIC_PHONE }}</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.instagram.com/shivazensjrp/" target="_blank" rel="noopener" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://wa.me/{{ WHATSAPP_NUMERO }}" target="_blank" rel="noopener" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
      </div>
    </div>
  </div>

  <div class="branding d-flex align-items-cente">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="{% url 'shivazen:inicio' %}" class="logo d-flex align-items-center">
        <h1 class="sitename">{{ CLINIC_NAME }}</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'shivazen:inicio' %}" class="{% if request.resolver_match.url_name == 'inicio' %}active{% endif %}">Home</a></li>
          <li><a href="{% url 'shivazen:agendaContato' %}">Contato</a></li>
          <li><a href="{% url 'shivazen:quemsomos' %}">Sobre</a></li>
          <li><a href="{% url 'shivazen:especialidades' %}">Especialidades</a></li>
          <li><a href="{% url 'shivazen:servicos_faciais' %}">Serviços</a></li>
          <li><a href="{% url 'shivazen:equipe' %}">Profissionais</a></li>
          <li class="dropdown"><a href="#"><span>+</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'shivazen:agendamento_publico' %}">Agendamento</a></li>
              <li><a href="{% url 'shivazen:depoimentos' %}">Depoimentos</a></li>
              <li><a href="{% url 'shivazen:galeria' %}">Galeria</a></li>
              <li><a href="{% url 'shivazen:promocoes' %}">Promoções</a></li>
              <li><a href="{% url 'shivazen:meus_agendamentos' %}">Meus Agendamentos</a></li>
              <li><a href="{% url 'shivazen:termosUso' %}">Termos</a></li>
              <li><a href="{% url 'shivazen:politicaPrivacidade' %}">Privacidade</a></li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </div>
</header>
