<!doctype html>
<html lang="pt-br">
<head>
    <title>{{ CLINIC_NAME }} - Clinica de Estetica Avancada</title>
     {% load static %}
    {% include 'partials/head.html' %}
</head>
<body>
    <main class="main-content">
        {% block conteudo %}
        {% endblock %}
    </main>

    {% include 'partials/rodape.html' %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
  $(document).ready(function(){
    // Mascaras para campos de formulario (quando presentes)
    $('#telefone').mask('(00) 00000-0000');
    $('#cpf').mask('000.000.000-00', {reverse: true});
  });
</script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
